# Load Allen and Macosko datasets

In [1]:
library(Matrix)
library(data.table)

Warning message:
“package ‘data.table’ was built under R version 3.5.2”

### Allen data

In [2]:
cells <- readRDS('data/allen_50k.RDS')

In [3]:
dim(cells)

[1] 27998 50000

In [4]:
cells.mat <-  Matrix(cells, sparse=T)

In [5]:
genes <- rownames(cells)
barcodes <- colnames(cells)

In [6]:
rm(cells)
gc()

       used      (Mb)  gc trigger (Mb)    limit (Mb) max used   (Mb)
Ncells   1647717  88.0    2661402   142.2    NA         2661402   142.2
Vcells 130454269 995.3 1348288924 10286.7 16384      1530682202 11678.2

In [7]:
writeMM(cells.mat, 'data/allen.mtx')

NULL

In [8]:
write.csv(genes, 'data/allen-genes.csv', row.names=F, quote=F)
write.csv(barcodes, 'data/allen-barcodes.csv', row.names=F, quote=F)

### Macosko data

In [9]:
cells <- readRDS('data/macosko_50k.RDS')

In [10]:
dim(cells)

[1] 27877 50000

In [11]:
cells.dt <- as.data.table(cells)

In [12]:
genes <- rownames(cells)

In [13]:
rm(cells)
gc()

       used      (Mb)   gc trigger (Mb)    limit (Mb) max used   (Mb)
Ncells   1755340   93.8    2661402   142.2    NA         2661402   142.2
Vcells 827788748 6315.6 1619974282 12359.5 16384      1530682202 11678.2

In [14]:
fwrite(cells.dt, 'data/macosko.csv')

In [15]:
write.csv(genes, 'data/macosko-genes.csv', row.names=F, quote=F)